html, body {
    font-family: "BMJUA";
    width: 100%;
    height: 100%;
    background-color: #bdc3c7;
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#captureDiv img {
    max-width: 100%;
    max-height: 100%;
}

#toolBoxDiv {
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: "BMJUA";
    opacity: .8;
    overflow: auto;
    max-width: 100%;
}

#alertList {
    margin-top: 10px;
}

.drawToolIcon {
    width: 33px;
    height: 33px;
}

.btn {
    margin-bottom: 5px;
}

.alertCss {
    margin-bottom: 10px;
}

input[type="image"].active {
    border: 0.1rem solid black;
}

.divider {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 2px !important;
    background-color: black;
}

.menuBarDivider {
    margin: 5px 0px;
}

.operatorIcon {
    cursor: pointer;
    width: 33px;
    height: 33px;
}

.gadgetIcon {
    cursor: pointer;
    width: 23px;
    height: 23px;
}

.drawingToolBtn {
    width: 30px;
    height: 30px;
}

.drag-and-drop {
    cursor: move;
    position: absolute;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.scroll{
    width: 100px;
    padding: 0px 13px 0px 13px;
    overflow-y: scroll;
    height: 200px;
    box-sizing: border-box;
    color: white;
    font-family: 'Nanum Gothic';
    margin-right: 50px;
}

.scroll::-webkit-scrollbar{
    width: 6px;
}

.scroll::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: #bdc3c7;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

.scroll::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}